name: SanLite CI - Release

on:
  push:
    branches:
      - master
      - 'feature/release-workflow'
    tags:
      - 'sanlite-*'

jobs:
  release:
    runs-on: ubuntu-latest
    name: Release

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Cache dependencies
        uses: actions/cache@v1.0.3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 8
          java-package: jdk+fx

      - name: Build with Maven & check for Checkstyle violations
        run: mvn -B package -DskipTests -Dcheckstyle.skip=false --file pom.xml
      
      - name: Test with Maven
        run: mvn test
      
      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
